################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/reMarkable
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
